* {
    margin: 0;
    padding: 0;
    // font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
     
}

.carousel-item {
    height: 100vh;
}

.img-box {
   width: 550px;
}

.pic-1, .pic-2 {
    width: 100%;
}

.slide-1 {
    background: #b0c6f5;
}

.carousel-item .row {
    margin: 15% 0;
}

.carousel-item h1 {
    margin-top: 3rem;
    font-weight: bold;
}
.carousel-item p {
    margin: 2rem 0 3.5rem;
    font-size: 1rem;
}

.carousel-item button {
    padding: 8px 20px;
    background: #0c5ce3;
    border: none;
    border-radius: 20px;
    color: white;
} 

.slide-2 {
    background: #f7f7f7;
}

.slide-2 h1, .slide-2 p {
    color: #feb154;
}

.image-1 {
    width: 100%;
}

.slide-two button {
    
}
