* {
    margin: 0;
    padding: 0;
    // font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
     
}

.carousel-item {
    height: 100vh;
}

.img-box {
   width: 550px;
   position: relative;
}

.pic-1 {
    width: 100%;
}

.pic-2 {
    width: 100px;
    position: absolute;
    left: 15px;
    bottom: 20px;
}

.pic-3 {
    width: 75px;
    position: absolute;
    left: 150px;
    bottom: 70px;
}

.pic-4 {
    width: 160px;
    position: absolute;
    right: 40px;
    top: 110px;
}

.pic-5 {
    width: 110px;
    position: absolute;
    right: 20px;
    bottom: 0px;
}

.pic-6 {
    width: 160px;
    position: absolute;
    right: 160px;
    bottom: 35px;
}

.slide-1 {
    background: #b0c6f5;
}

.carousel-item .row {
    margin: 15% 0;
}

.carousel-item h1 {
    margin-top: 3rem;
    font-weight: bold;
}
.carousel-item p {
    margin: 2rem 0 3.5rem;
    font-size: 1rem;
}

.carousel-item button {
    padding: 8px 20px;
    background: #0c5ce3;
    border: none;
    border-radius: 20px;
    color: white;
} 

.slide-2 {
    background: #f7f7f7;
}

.slide-2 h1, .slide-2 p {
    color: #feb154;
}

.img-1 {
    width: 100%;
}

.img-2 {
    width: 200px;
    position: absolute;
    left: 0;
    bottom: 20px;
}

.img-3 {
    width: 70px;
    position: absolute;
    left: 245px;
    bottom: 55px;
}

.img-4 {
    width: 60px;
    position: absolute;
    right: 155px;
    bottom: 95px;
}

.img-5 {
    width: 100px;
    position: absolute;
    right: 50px;
    bottom: 20px;
}

.slide-2 button {
    background: linear-gradient(to right, #feb154, #ffd255);
}
